{% extends "base.html" %}
{% block title %} password Reset {% endblock title %}

{% block content %} 
    <div class="box-container"> 
        <h2> Password Reset </h2>
        <p>Your Password has been set You Can Login now</p>
        <a href="{% url 'login' %}" class="btn" >Login</a>
    </div>
    

    <style>
        .box-container {
            width: 40%;
            margin: 50px auto;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-family: Arial, sans-serif;
         }
         
         .box-container  h2 , p {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
         }
         
        
         
         .btn{
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            width: 50%;
            margin: auto;
            display: block
         }
         
         .login-button:hover {
            background-color: #45a049;
         }
         </style>
{% endblock content %}