{% extends "base.html" %}

{% block title %} Password Reset {% endblock title %} 

{% block content %} 
    <div class="box-container">
        <h2> Reset Password </h2>
        {% if validlink %}
        <form method="post" class="box-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button-form">change your password</button>

        </form>

    {% else%}

        <p>the link is not valid </p>

    {% endif %}    
    
    
    </div>
    
    
<style>
    .box-container {
        width: 40%;
        margin: 50px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
     }
     
     .box-container  h2 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
     }
     
     .box-form {
        display: flex;
        flex-direction: column;
        /* gap: 15px; */
     }
     
     .box-form input[type="text"],
     .box-form input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
     }
     
     .box-form a {
         text-align: center;
     }
     
     
     
     .button-form {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        width: 50%;
        margin: auto;
     }
     
     .login-button:hover {
        background-color: #45a049;
     }
     </style>

{% endblock content %}