{% extends "base.html" %}

{% block title %} Password Reset {% endblock title %} 

{% block content %}
    <div class="reset-container">
        <h2> Reset Your Password </h2>
        <p> we have send you a reset password to your email address </p>
        <p> If you d ont recieve reset passord email , please try again </p>
    </div>
    <style>
        .reset-container {
       width: 40%;
       margin: 50px auto;
       padding: 20px;
       background-color: #f9f9f9;
       border-radius: 8px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
       font-family: Arial, sans-serif;
    }
    
    .reset-container h2 p {
       text-align: center;
       color: #333;
       margin-bottom: 20px;
    }
    
   
    </style>
    
{% endblock content %}
   

