{% extends "base.html" %}

{% block title %} Password Reset {% endblock title %}

{% block content %}  
    <div class= "reset-container" >
    <h2> Forgetten your Password </h2>
    <p>Enter Your Email to obtain new password</p>
    <form method="post" class="reset-form">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="send email">
    </form>
</div>
<style>
    .reset-container {
   width: 40%;
   margin: 50px auto;
   padding: 20px;
   background-color: #f9f9f9;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   font-family: Arial, sans-serif;
}

.reset-container h2 {
   text-align: center;
   color: #333;
   margin-bottom: 20px;
}

.reset-form {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.reset-form input[type="email"],
.reset-form input[type="submit"] {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 16px;
}

</style>

{% endblock content %}