{% extends 'base.html' %}
{% load static %}
{% block title %}Create Post {% endblock title %}

{% block content %}

<div class="create-post-container">
    <h2>create New Post</h2>
    <form class="update-post-form" method="POST" action="{% url 'create_post' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_post.as_p }}
        <button class="update-button" type="submit">Create Post</button>
    </form>
</div>

<style>
     .create-post-container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.create-post-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.update-post-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.update-post-form input[type="text"],
.update-post-form textarea,
.update-post-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.update-post-form textarea {
    resize: vertical;
    min-height: 150px;
}

.update-post-form input[type="file"] {
    border: none;
}

.update-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.update-button:hover {
    background-color: #45a049;
}
</style>

{% endblock content %}